common --experimental_enable_bzlmod
common --registry=https://raw.githubusercontent.com/rendezqueue/rendezqueue_bazel_registry/trunk
common --registry=https://raw.githubusercontent.com/bazelbuild/bazel-central-registry/main

