name: Bazel

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Cache Setup
      uses: actions/cache@v3
      id: cache-bazel
      with:
        path: ~/.cache/bazel
        key: ${{ runner.os }}-bazel

    - name: Setup bazel
      uses: jwlawson/actions-setup-bazel@v1
      with:
        bazel-version: '5'

    - name: Checkout
      uses: actions/checkout@v4

    - name: Build
      run: bazel build //...

    - name: Test
      run: bazel test //...
